.box{
    width: 100px;
    height: 100px;
    background-color: darkcyan;
}


// for 變數 from 起始值 到 結束值 (包含結束值)
@for $i from 1 through 10{
    .title #{$i} {
        font-size: $i * 1px;
    }
}

// for 變數 from 起始值 到 結束值 (不含結束值)
// @for $i from 1 to 10{
//     .title #{$i} {
//         font-size: $i * 1px;
//     }
// }

// 往右邊推
@mixin push($num) {
    @for $i from 1 through $num{
        .push_left_#{$i}{
            position: relative;
            left: $i * 1px;
        }
    } 
}

// 往下推
@mixin push_top($num) {
    @for $i from 1 through $num{
        .push_left_#{$i}{
            position: relative;
            left: $i * 1px;
        }
    } 
}

// @include push(100);
// @include push_top(100);


// grid
// @for $i from 1 through 12 {
//     .col-#{$i}{
//         // max-width: ($i / 12) * 100%;
//         flex: 0 0 ($i / 12) * 100%; // bootstrap 的寫法
//     }
// }

// grid 用@mixin包起來寫法
@mixin grid($num){
    @for $i from 1 through $num {
        .col-#{$i}{
            // max-width: ($i / $num) * 100%;
            flex: 0 0 ($i / $num) * 100%; // bootstrap 的寫法
        }
    } 
}

@include grid(12);


// $img = 區域變數, $list = 要在外面先宣告
$list: banner product item store;

@each $img in $list {
    .img_#{$img}{
        background-image: url('image/#{$img}.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 1000px;
        object-fit: cover;
    }
}



