//宣告 function name
@mixin marginAuto($w, $top:0) {
    margin: $top auto 0;
    width: $w;
}

//可以沒有()
@mixin yellow {
    background-color: yellowgreen;
    color: darkgreen;
}

//調用
.box{
    @include marginAuto(300px, 10px);
    @include yellow;
}

.box2{
    @include marginAuto(600px);
}

.box3{
    @include marginAuto(500px);

}

@mixin body($bgc: #fff){
    body{
        background-color: $bgc;
        font-size: 16px;
        @content; //可以塞屬性跟class的寫法
    }
}

@include body(){
    h1{
        font-size: 36px; //有放 @content才可以這樣寫
    }
    h2{
        font-size: 20px;
    }
};
@include body(black);

// null : 
@mixin btn_default($w, $btn_bg, $border_radius:null){ 
    width: 100px;
    padding: $w;
    text-align: center;
    background-color: $btn_bg;
    cursor: pointer;
    transition: .3s all ease;
    border-radius: $border_radius;
    color: invert($btn_bg); // 反轉
    @content; //可以塞屬性跟class的寫法
    &:hover{
        background-color: lighten($btn_bg, 20); // 顏色內建
    }
}

//@mixin btn_default($w, $btn_bg, $border_radius:null), 照這個宣告的順序打值
.btn_summit{
    @include btn_default(20px, salmon); // border-radius = null
    box-shadow: 10px 10px 20px #8c8c8c;
    margin: 10px;
}

.btn_cancel{
    @include btn_default(15px, rgb(185, 185, 185), 5px); // border-radius = 5px
}

@mixin layout ($class, $theme){
    .#{$class}{
        @if $theme == full{
            width: 100%;
            height: 100vh;
            @content;
        } 
        
        @else{
            width: $theme;
            height: 100vh;
            margin: 0 auto;
            @content;
        }
    }
}

//定義每個區塊的寬高
@include layout(main, 1200px); //有給值寬鳩會吃這個值
@include layout(banner); //不給值就是滿版
@include layout(product){
    background-color: whitesmoke;

}; //不給值就是滿版, 然後可以加入自定義的屬性


