//宣告 function name
@mixin marginAuto($w, $top:0) {
    margin: $top auto 0;
    width: $w;
}

//可以沒有()
@mixin yellow {
    background-color: yellowgreen;
    color: darkgreen;
}

//調用
.box{
    @include marginAuto(300px, 10px);
    @include yellow;
}

.box2{
    @include marginAuto(600px);
}

.box3{
    @include marginAuto(500px);

}

@mixin body($bgc: #fff){
    body{
        background-color: $bgc;
        font-size: 16px;
        @content; //可以塞屬性跟class的寫法
    }
}

@include body(){
    h1{
        font-size: 36px; //有放 @content才可以這樣寫
    }
    h2{
        font-size: 20px;
    }
};
@include body(black);

